.container {
  text-align: center;
  color: #fff
}

.menuItems {
  background-color: initial;
  li {
    font-family: OpenSans-Semibold;
    font-size: 11px;
    color: #333333;
    text-transform: uppercase;
    padding-right: 25px;
  }
}


.topBar {
  background-color: initial;
  ul {
    background-color: initial;
  }
}

.subtitle {
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 18px;
  color: #333333;
  text-align: center;
  padding: 50px 0;
  &:before, &:after {
    content: '';
    width: 65px;
    height: 1px;
    background-color: #E6E6E6;
    display: inline-block;
    position: relative;
    top: -5px;
    margin: 0 15px
  }
}

.explainer {
  font-family: OpenSans-Semibold;
  font-size: 15px;
  color: #333333;
  text-align: center;
}

.briefcase:before {
  content: '';
  background-image: url('./views/HomeView/briefcase.png');
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.listings:before {
  content: '';
  background-image: url('./views/HomeView/listings.png');
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.person:before {
  content: '';
  background-image: url('./views/HomeView/person.png');
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.pricing {
  border: 5px solid #13D0AB;
  width: 283px;
  height: 313px;
  margin: 0 auto;
}

.plan {
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 18px;
  color: #333333;
  display: block;
  padding-top: 27px;
}

.price {
  font-family: OpenSans-Bold;
  font-size: 46px;
  color: #13D0AB;
  text-align: center;
  display: block;
  padding-top: 43px;
  .month {
    font-size: 17px;
  }
}
